<footer>
    <div class="position-absolute">
        <p class="text-center fixed-bottom p-3 mb-0 bg-dark text-white">&copy; Studentský zápočtový projekt 2023</p>
    </div>
    <%- include("./script") %>
</footer>