<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include("./partials/head") %>
<body>

    <!-- nav -->
    <%- include("./partials/nav") %>
    
    <div class="container-sm pt-4">
        <div class="text-center">
            <h2>Try our app!</h2>
            <p>Organised you contacts today.</p>
        </div>
        
        <div class="container bg-light">
        <div class="col-md-12 pt-5 text-center">
            <a href="/register" style="text-decoration: none">
                <button type="button" class="btn btn-light">Register</button>
            </a>
            <a href="/login">
                <button type="button" class="btn btn-dark">Login</button>
            </a>
        </div>
    </div>
    </div>


    <!-- footer -->
    <%- include("./partials/footer") %>

</body>
</html>